<h1>S03 T05: Exploratory Data Analysis</h1>

In [115]:
import pandas as pd
import numpy as np

<h2> Functions </h3>

In [116]:
"""At first, I was was placing the functions at the bottom of the notebook and everything 
was working good but when I closed the notebook and run all the cells there was a problem with
the functions.
"""

#Function for describe the DF

def description_numeric(df,col,l):
    return df[col].describe()

In [117]:
#Function that evaluated the flight status and label it as Ontime or Delayed

def conditional_time(actual,crs):
    if [actual] <=  [crs]:
        return  "OnTime"
    else:
        return  "Delayed"

In [118]:
#Function that sort values of DF

def sort_values(df,col):
    return df.sort_values(by =col,ascending=False)

In [119]:
#Function that creates a pandas Series
def create_series(df,col):
    return pd.Series(df[col])

<h2>Nivell 1</h2>

<h3>Exercises 1: Download the Airlines Delay: Airline on-time statistics and delay causes dataset and upload it to a Dataframe pandas. Explore the data it contains, and keep only the columns you consider relevant.</h3>

In [120]:
"""This line will read the csv file at first the DF has a column with the index,
then I use the parameter "index_col" to arrange the DF. There is a bug or something
when I tried index_col=0 there is a warning, so I tried index_col=[0] that fix it but 
sometimes the warning appears with the index_col=[0] and doesn't appears using index_col=0 ... 

THE WARNING: 

/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:569: 
FutureWarning: elementwise comparison failed; returning scalar instead, but in the 
future will perform elementwise comparison
  mask |= (ar1 == a)
  
"""

df = pd.read_csv('/Volumes/GoogleDrive/Mi unidad/Barcelona Activa/Itinerario Data Science/S03/Airline_Delay/DelayedFlights.csv',index_col =[0])

/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [121]:
"""This line will show only the first 6 rows of the DF"""


df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [122]:
""" 
In this section a copy of the DF is created because the DF will suffer some modifies, the first
modification is rename the column name "DayofMonth" to "Day".
"""


df_copy = df.copy()
df_delay = df_copy.rename(columns={"DayofMonth":"Day"})

In [123]:
"""
In this line a subset of columns is selected

"""
date = df_delay[["Year","Month","Day"]]

In [124]:
"""
The subset created above will merge and shape as date format in a new column called "Date"

"""
df_delay["Date"]=pd.to_datetime(date)

In [125]:
"""
The column "DayOfWeek" represents the day but with an integer its hard to know 
because its less to common call "1" to "Mondays" and as I read the convention is from 0-6 but 
in this dataset begins with 1 in the first try I didn't know this. The first try raised an error
with 7 as missing value .

The first way that I tried to format the "DayOfWeek" is create a dict with the numeric values and used 
the lambda function changes the integers values to strings.

The second is a pandas function that converts the integer values to names days,
this function is only showed in markdown.

Why convert the day? well, it's only for a global view, I feel that have the
name day is better


"""

days = {1: "Monday",2: "Tuesday",3: "Wendesday",4: "Thursday",5: "Friday",6: "Saturday",7: "Sunday" }

df_delay["DayName"] = df_delay["DayOfWeek"].apply(lambda x: days[x])

```python

#more ways of doing the same..
df_delay["DayofWeek"] = df_delay["Date"].dt.day_name()


days={1: "Monday",2: "Tuesday",3: "Wendesday",4: "Thursday",5: "Friday",6: "Saturday",7: "Sunday"}
df_delay["DayofWeek"] = df_delay["DayOfWeek"].map(days,"DayOfWeek")



```

In [126]:
df_delay

,Year,Month,Day,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,DayName
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,Thursday
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,Thursday
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,Thursday
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03,Thursday
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-01-03,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,0,N,0,3.0,0.0,0.0,0.0,22.0,2008-12-13,Saturday
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,0,N,0,0.0,57.0,18.0,0.0,0.0,2008-12-13,Saturday
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,0,N,0,1.0,0.0,19.0,0.0,79.0,2008-12-13,Saturday
7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13,Saturday
7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,0,N,0,NaN,NaN,NaN,NaN,NaN,2008-12-13,Saturday

In [127]:
#This line is only with the purpose of read all the columns and types

df_delay.dtypes

Year                          int64
Month                         int64
Day                           int64
DayOfWeek                     int64
DepTime                     float64
CRSDepTime                    int64
ArrTime                     float64
CRSArrTime                    int64
UniqueCarrier                object
FlightNum                     int64
TailNum                      object
ActualElapsedTime           float64
CRSElapsedTime              float64
AirTime                     float64
ArrDelay                    float64
DepDelay                    float64
Origin                       object
Dest                         object
Distance                      int64
TaxiIn                      float64
TaxiOut                     float64
Cancelled                     int64
CancellationCode             object
Diverted                      int64
CarrierDelay                float64
WeatherDelay                float64
NASDelay                    float64
SecurityDelay               float64
LateAircraftDelay           float64
Date                 datetime64[ns]
DayName                      object
dtype: object

In [128]:

#In this section a subset of columns is selected as a new DF for the statistical summary



new_df_delay = df_delay[["Date","DayName","UniqueCarrier","FlightNum","Origin","Dest","Distance","CRSDepTime","CRSArrTime","DepTime","ArrTime","DepDelay","ArrDelay","AirTime","TaxiIn","TaxiOut","ActualElapsedTime","CRSElapsedTime","Cancelled"]]

In [129]:

#A new DF is created with the former subset


new_delay_df = pd.DataFrame(new_df_delay)

In [130]:
new_delay_df

,Date,DayName,UniqueCarrier,FlightNum,Origin,Dest,Distance,CRSDepTime,CRSArrTime,DepTime,ArrTime,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,CRSElapsedTime,Cancelled
0,2008-01-03,Thursday,WN,335,IAD,TPA,810,1955,2225,2003.0,2211.0,8.0,-14.0,116.0,4.0,8.0,128.0,150.0,0
1,2008-01-03,Thursday,WN,3231,IAD,TPA,810,735,1000,754.0,1002.0,19.0,2.0,113.0,5.0,10.0,128.0,145.0,0
2,2008-01-03,Thursday,WN,448,IND,BWI,515,620,750,628.0,804.0,8.0,14.0,76.0,3.0,17.0,96.0,90.0,0
4,2008-01-03,Thursday,WN,3920,IND,BWI,515,1755,1925,1829.0,1959.0,34.0,34.0,77.0,3.0,10.0,90.0,90.0,0
5,2008-01-03,Thursday,WN,378,IND,JAX,688,1915,2110,1940.0,2121.0,25.0,11.0,87.0,4.0,10.0,101.0,115.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008-12-13,Saturday,DL,1621,MSP,ATL,906,1220,1552,1250.0,1617.0,30.0,25.0,120.0,9.0,18.0,147.0,152.0,0
7009717,2008-12-13,Saturday,DL,1631,RIC,ATL,481,600,749,657.0,904.0,57.0,75.0,78.0,15.0,34.0,127.0,109.0,0
7009718,2008-12-13,Saturday,DL,1631,ATL,IAH,689,847,1010,1007.0,1149.0,80.0,99.0,122.0,8.0,32.0,162.0,143.0,0
7009726,2008-12-13,Saturday,DL,1639,IAD,ATL,533,1240,1437,1251.0,1446.0,11.0,9.0,89.0,13.0,13.0,115.0,117.0,0
7009727,2008-12-13,Saturday,DL,1641,SAT,ATL,874,1103,1418,1110.0,1413.0,7.0,-5.0,104.0,8.0,11.0,123.0,135.0,0

<h3>Exercici 2: Statistical summary of the data set </h3>

<h4>Summary with statistical values of the data </h4>

In [131]:
"""For the EDA I think that the best practice is use pandas function df.describe() 
the problem  is when the data type isn't homogeneous the function will ignore the non-numeric
values but you can include all but doesn't look good because there are columns that works
only as reference/information"""


new_delay_df.describe(include='all')

,Date,DayName,UniqueCarrier,FlightNum,Origin,Dest,Distance,CRSDepTime,CRSArrTime,DepTime,ArrTime,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,CRSElapsedTime,Cancelled
count,1936758,1936758,1936758,1.936758e+06,1936758,1936758,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.929648e+06,1.936303e+06,1.928371e+06,1.936560e+06,1.936758e+06
unique,366,7,20,NaN,303,304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2008-01-02 00:00:00,Friday,WN,NaN,ATL,ORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10857,323259,377602,NaN,131613,108984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,2008-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2008-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.184263e+03,NaN,NaN,7.656862e+02,1.467473e+03,1.634225e+03,1.518534e+03,1.610141e+03,4.318518e+01,4.219988e+01,1.082771e+02,6.812975e+00,1.823220e+01,1.333059e+02,1.343027e+02,3.268348e-04
std,NaN,NaN,NaN,1.944702e+03,NaN,NaN,5.744797e+02,4.247668e+02,4.646347e+02,4.504853e+02,5.481781e+02,5.340250e+01,5.678472e+01,6.864261e+01,5.273595e+00,1.433853e+01,7.206007e+01,7.134144e+01,1.807562e-02
min,NaN,NaN,NaN,1.000000e+00,NaN,NaN,1.100000e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00,-1.090000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00
25%,NaN,NaN,NaN,6.100000e+02,NaN,NaN,3.380000e+02,1.135000e+03,1.325000e+03,1.203000e+03,1.316000e+03,1.200000e+01,9.000000e+00,5.800000e+01,4.000000e+00,1.000000e+01,8.000000e+01,8.200000e+01,0.000000e+00
50%,NaN,NaN,NaN,1.543000e+03,NaN,NaN,6.060000e+02,1.510000e+03,1.705000e+03,1.545000e+03,1.715000e+03,2.400000e+01,2.400000e+01,9.000000e+01,6.000000e+00,1.400000e+01,1.160000e+02,1.160000e+02,0.000000e+00
75%,NaN,NaN,NaN,3.422000e+03,NaN,NaN,9.980000e+02,1.815000e+03,2.014000e+03,1.900000e+03,2.030000e+03,5.300000e+01,5.600000e+01,1.370000e+02,8.000000e+00,2.100000e+01,1.650000e+02,1.650000e+02,0.000000e+00
max,NaN,NaN,NaN,9.742000e+03,NaN,NaN,4.962000e+03,2.359000e+03,2.400000e+03,2.400000e+03,2.400000e+03,2.467000e+03,2.461000e+03,1.091000e+03,2.400000e+02,4.220000e+02,1.114000e+03,6.600000e+02,1.000000e+00

In [132]:
#One solution is select the numeric columns of interest

new_delay_df[["Distance","DepDelay","ArrDelay","AirTime","TaxiIn","TaxiOut","ActualElapsedTime"]].describe()

,Distance,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime
count,1.936758e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.929648e+06,1.936303e+06,1.928371e+06
mean,7.656862e+02,4.318518e+01,4.219988e+01,1.082771e+02,6.812975e+00,1.823220e+01,1.333059e+02
std,5.744797e+02,5.340250e+01,5.678472e+01,6.864261e+01,5.273595e+00,1.433853e+01,7.206007e+01
min,1.100000e+01,6.000000e+00,-1.090000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01
25%,3.380000e+02,1.200000e+01,9.000000e+00,5.800000e+01,4.000000e+00,1.000000e+01,8.000000e+01
50%,6.060000e+02,2.400000e+01,2.400000e+01,9.000000e+01,6.000000e+00,1.400000e+01,1.160000e+02
75%,9.980000e+02,5.300000e+01,5.600000e+01,1.370000e+02,8.000000e+00,2.100000e+01,1.650000e+02
max,4.962000e+03,2.467000e+03,2.461000e+03,1.091000e+03,2.400000e+02,4.220000e+02,1.114000e+03

In [133]:
#Select the object columns of interest

new_delay_df[["Date","DayName","UniqueCarrier","Origin","Dest"]].describe()

                       Date  DayName UniqueCarrier   Origin     Dest
count               1936758  1936758       1936758  1936758  1936758
unique                  366        7            20      303      304
top     2008-01-02 00:00:00   Friday            WN      ATL      ORD
freq                  10857   323259        377602   131613   108984
first   2008-01-01 00:00:00      NaN           NaN      NaN      NaN
last    2008-12-31 00:00:00      NaN           NaN      NaN      NaN

In [134]:
"""
The description can be useful later, so we can append the results of the description 
in a list with a function, this can be a visual improve.  
"""

list_numeric_description = []

numeric_col = ["Distance","DepDelay","ArrDelay","AirTime","TaxiIn","TaxiOut","ActualElapsedTime"]

x = description_numeric(new_delay_df,numeric_col,list_numeric_description)

x

,Distance,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime
count,1.936758e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.929648e+06,1.936303e+06,1.928371e+06
mean,7.656862e+02,4.318518e+01,4.219988e+01,1.082771e+02,6.812975e+00,1.823220e+01,1.333059e+02
std,5.744797e+02,5.340250e+01,5.678472e+01,6.864261e+01,5.273595e+00,1.433853e+01,7.206007e+01
min,1.100000e+01,6.000000e+00,-1.090000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01
25%,3.380000e+02,1.200000e+01,9.000000e+00,5.800000e+01,4.000000e+00,1.000000e+01,8.000000e+01
50%,6.060000e+02,2.400000e+01,2.400000e+01,9.000000e+01,6.000000e+00,1.400000e+01,1.160000e+02
75%,9.980000e+02,5.300000e+01,5.600000e+01,1.370000e+02,8.000000e+00,2.100000e+01,1.650000e+02
max,4.962000e+03,2.467000e+03,2.461000e+03,1.091000e+03,2.400000e+02,4.220000e+02,1.114000e+03

In [135]:
#The same with the object columns

list_object_description = []

object_col = ["Date","DayName","UniqueCarrier","Origin","Dest"]

y = description_numeric(new_delay_df,object_col,list_numeric_description)
y

                       Date  DayName UniqueCarrier   Origin     Dest
count               1936758  1936758       1936758  1936758  1936758
unique                  366        7            20      303      304
top     2008-01-02 00:00:00   Friday            WN      ATL      ORD
freq                  10857   323259        377602   131613   108984
first   2008-01-01 00:00:00      NaN           NaN      NaN      NaN
last    2008-12-31 00:00:00      NaN           NaN      NaN      NaN

In [136]:
"""We can do a DF with the results and in case of report only a page 
concat the two DF"""


x_df = pd.DataFrame(x)
y_df = pd.DataFrame(y)


#concat the DF
df_description = pd.concat([x_df,y_df], axis=1)


#Fill the NaN with "-"
df_description_new = df_description.fillna("-")

df_description_new

,Distance,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,Date,DayName,UniqueCarrier,Origin,Dest
count,1.93676e+06,1.93676e+06,1.92837e+06,1.92837e+06,1.92965e+06,1.9363e+06,1.92837e+06,1936758,1936758,1936758,1936758,1936758
mean,765.686,43.1852,42.1999,108.277,6.81298,18.2322,133.306,-,-,-,-,-
std,574.48,53.4025,56.7847,68.6426,5.2736,14.3385,72.0601,-,-,-,-,-
min,11,6,-109,0,0,0,14,-,-,-,-,-
25%,338,12,9,58,4,10,80,-,-,-,-,-
50%,606,24,24,90,6,14,116,-,-,-,-,-
75%,998,53,56,137,8,21,165,-,-,-,-,-
max,4962,2467,2461,1091,240,422,1114,-,-,-,-,-
unique,-,-,-,-,-,-,-,366,7,20,303,304
top,-,-,-,-,-,-,-,2008-01-02 00:00:00,Friday,WN,ATL,ORD
freq,-,-,-,-,-,-,-,10857,323259,377602,131613,108984
first,-,-,-,-,-,-,-,2008-01-01 00:00:00,-,-,-,-
last,-,-,-,-,-,-,-,2008-12-31 00:00:00,-,-,-,-

<h4>How many missing data are per column ? </h4>

In [137]:
"""
The function isnull() return a boolean but we want the sum of NaN so isnull().sum() return 
the sum of NaN
"""

null_data = new_delay_df.isnull().sum()
null_data

Date                    0
DayName                 0
UniqueCarrier           0
FlightNum               0
Origin                  0
Dest                    0
Distance                0
CRSDepTime              0
CRSArrTime              0
DepTime                 0
ArrTime              7110
DepDelay                0
ArrDelay             8387
AirTime              8387
TaxiIn               7110
TaxiOut               455
ActualElapsedTime    8387
CRSElapsedTime        198
Cancelled               0
dtype: int64

<h4>Filling the NaN values</h4>

In [138]:
#Fill the NaN with 0 

df_delay_new = new_delay_df.fillna(0)

df_delay_new

,Date,DayName,UniqueCarrier,FlightNum,Origin,Dest,Distance,CRSDepTime,CRSArrTime,DepTime,ArrTime,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,CRSElapsedTime,Cancelled
0,2008-01-03,Thursday,WN,335,IAD,TPA,810,1955,2225,2003.0,2211.0,8.0,-14.0,116.0,4.0,8.0,128.0,150.0,0
1,2008-01-03,Thursday,WN,3231,IAD,TPA,810,735,1000,754.0,1002.0,19.0,2.0,113.0,5.0,10.0,128.0,145.0,0
2,2008-01-03,Thursday,WN,448,IND,BWI,515,620,750,628.0,804.0,8.0,14.0,76.0,3.0,17.0,96.0,90.0,0
4,2008-01-03,Thursday,WN,3920,IND,BWI,515,1755,1925,1829.0,1959.0,34.0,34.0,77.0,3.0,10.0,90.0,90.0,0
5,2008-01-03,Thursday,WN,378,IND,JAX,688,1915,2110,1940.0,2121.0,25.0,11.0,87.0,4.0,10.0,101.0,115.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008-12-13,Saturday,DL,1621,MSP,ATL,906,1220,1552,1250.0,1617.0,30.0,25.0,120.0,9.0,18.0,147.0,152.0,0
7009717,2008-12-13,Saturday,DL,1631,RIC,ATL,481,600,749,657.0,904.0,57.0,75.0,78.0,15.0,34.0,127.0,109.0,0
7009718,2008-12-13,Saturday,DL,1631,ATL,IAH,689,847,1010,1007.0,1149.0,80.0,99.0,122.0,8.0,32.0,162.0,143.0,0
7009726,2008-12-13,Saturday,DL,1639,IAD,ATL,533,1240,1437,1251.0,1446.0,11.0,9.0,89.0,13.0,13.0,115.0,117.0,0
7009727,2008-12-13,Saturday,DL,1641,SAT,ATL,874,1103,1418,1110.0,1413.0,7.0,-5.0,104.0,8.0,11.0,123.0,135.0,0

In [139]:
#The DF is filled and the sum of NaN value is 0 in all column 

df_delay_new.isnull().sum()

Date                 0
DayName              0
UniqueCarrier        0
FlightNum            0
Origin               0
Dest                 0
Distance             0
CRSDepTime           0
CRSArrTime           0
DepTime              0
ArrTime              0
DepDelay             0
ArrDelay             0
AirTime              0
TaxiIn               0
TaxiOut              0
ActualElapsedTime    0
CRSElapsedTime       0
Cancelled            0
dtype: int64

<h3>Create new columns (average flight speed, whether late or not ...)</h3>

<h4>Column with travel speed</h4>

In [140]:
#Column with the travel speed 

df_delay_new = df_delay_new.assign(Speed=lambda x: (x["Distance"] / ((x["AirTime"])/60)))

df_delay_new

,Date,DayName,UniqueCarrier,FlightNum,Origin,Dest,Distance,CRSDepTime,CRSArrTime,DepTime,ArrTime,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,CRSElapsedTime,Cancelled,Speed
0,2008-01-03,Thursday,WN,335,IAD,TPA,810,1955,2225,2003.0,2211.0,8.0,-14.0,116.0,4.0,8.0,128.0,150.0,0,418.965517
1,2008-01-03,Thursday,WN,3231,IAD,TPA,810,735,1000,754.0,1002.0,19.0,2.0,113.0,5.0,10.0,128.0,145.0,0,430.088496
2,2008-01-03,Thursday,WN,448,IND,BWI,515,620,750,628.0,804.0,8.0,14.0,76.0,3.0,17.0,96.0,90.0,0,406.578947
4,2008-01-03,Thursday,WN,3920,IND,BWI,515,1755,1925,1829.0,1959.0,34.0,34.0,77.0,3.0,10.0,90.0,90.0,0,401.298701
5,2008-01-03,Thursday,WN,378,IND,JAX,688,1915,2110,1940.0,2121.0,25.0,11.0,87.0,4.0,10.0,101.0,115.0,0,474.482759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008-12-13,Saturday,DL,1621,MSP,ATL,906,1220,1552,1250.0,1617.0,30.0,25.0,120.0,9.0,18.0,147.0,152.0,0,453.000000
7009717,2008-12-13,Saturday,DL,1631,RIC,ATL,481,600,749,657.0,904.0,57.0,75.0,78.0,15.0,34.0,127.0,109.0,0,370.000000
7009718,2008-12-13,Saturday,DL,1631,ATL,IAH,689,847,1010,1007.0,1149.0,80.0,99.0,122.0,8.0,32.0,162.0,143.0,0,338.852459
7009726,2008-12-13,Saturday,DL,1639,IAD,ATL,533,1240,1437,1251.0,1446.0,11.0,9.0,89.0,13.0,13.0,115.0,117.0,0,359.325843
7009727,2008-12-13,Saturday,DL,1641,SAT,ATL,874,1103,1418,1110.0,1413.0,7.0,-5.0,104.0,8.0,11.0,123.0,135.0,0,504.230769

In [141]:
col = "Speed"
col_speed = create_series(df_delay_new,col)

col_speed

0          418.965517
1          430.088496
2          406.578947
4          401.298701
5          474.482759
              ...
7009710    453.000000
7009717    370.000000
7009718    338.852459
7009726    359.325843
7009727    504.230769
Name: Speed, Length: 1936758, dtype: float64

<h4>Column with flight status</h4>

In [142]:
df_delay_new["Status"] = np.where(df_delay_new["ActualElapsedTime"] <= df_delay_new["CRSElapsedTime"],"OnTime","Delayed")    
    
#df_delay_new["Statuus"] = df_delay_new.apply(lambda x: conditional_time(x.ActualElapsedTime, x.CRSElapsedTime), axis=1)


df_delay_new

,Date,DayName,UniqueCarrier,FlightNum,Origin,Dest,Distance,CRSDepTime,CRSArrTime,DepTime,...,DepDelay,ArrDelay,AirTime,TaxiIn,TaxiOut,ActualElapsedTime,CRSElapsedTime,Cancelled,Speed,Status
0,2008-01-03,Thursday,WN,335,IAD,TPA,810,1955,2225,2003.0,...,8.0,-14.0,116.0,4.0,8.0,128.0,150.0,0,418.965517,OnTime
1,2008-01-03,Thursday,WN,3231,IAD,TPA,810,735,1000,754.0,...,19.0,2.0,113.0,5.0,10.0,128.0,145.0,0,430.088496,OnTime
2,2008-01-03,Thursday,WN,448,IND,BWI,515,620,750,628.0,...,8.0,14.0,76.0,3.0,17.0,96.0,90.0,0,406.578947,Delayed
4,2008-01-03,Thursday,WN,3920,IND,BWI,515,1755,1925,1829.0,...,34.0,34.0,77.0,3.0,10.0,90.0,90.0,0,401.298701,OnTime
5,2008-01-03,Thursday,WN,378,IND,JAX,688,1915,2110,1940.0,...,25.0,11.0,87.0,4.0,10.0,101.0,115.0,0,474.482759,OnTime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009710,2008-12-13,Saturday,DL,1621,MSP,ATL,906,1220,1552,1250.0,...,30.0,25.0,120.0,9.0,18.0,147.0,152.0,0,453.000000,OnTime
7009717,2008-12-13,Saturday,DL,1631,RIC,ATL,481,600,749,657.0,...,57.0,75.0,78.0,15.0,34.0,127.0,109.0,0,370.000000,Delayed
7009718,2008-12-13,Saturday,DL,1631,ATL,IAH,689,847,1010,1007.0,...,80.0,99.0,122.0,8.0,32.0,162.0,143.0,0,338.852459,Delayed
7009726,2008-12-13,Saturday,DL,1639,IAD,ATL,533,1240,1437,1251.0,...,11.0,9.0,89.0,13.0,13.0,115.0,117.0,0,359.325843,OnTime
7009727,2008-12-13,Saturday,DL,1641,SAT,ATL,874,1103,1418,1110.0,...,7.0,-5.0,104.0,8.0,11.0,123.0,135.0,0,504.230769,OnTime

In [143]:
col ="Status"

status = create_series(df_delay_new,col)
status

0           OnTime
1           OnTime
2          Delayed
4           OnTime
5           OnTime
            ...
7009710     OnTime
7009717    Delayed
7009718    Delayed
7009726     OnTime
7009727     OnTime
Name: Status, Length: 1936758, dtype: object

<h4>Table with airport taxi</h4>

In [144]:
"""This column is the mean of all the route of the plane inside the airport to take place 
for the take off"""

taxi_origin = df_delay_new.groupby(["Origin"])["TaxiOut"].mean()
df_taxi_origin = pd.DataFrame(taxi_origin)
df_taxi_origin.index.names = ["Airport"]
df_taxi_origin

           TaxiOut
Airport
ABE      15.410959
ABI       9.795918
ABQ      10.636968
ABY       8.893836
ACK      19.857143
...            ...
WYS      10.900000
XNA      16.191781
YAK       8.326733
YKM      10.000000
YUM      12.561863

[303 rows x 1 columns]

In [145]:
"""This column is the mean of all the route of the plane from the moment
that landed in the Destination to the gate for the pax to get off"""

taxi_destination = df_delay_new.groupby(["Dest"])["TaxiIn"].mean()
df_taxi_destination = pd.DataFrame(taxi_destination)
df_taxi_destination.index.names = ["Airport"]
df_taxi_destination

           TaxiIn
Airport
ABE      4.481846
ABI      3.471360
ABQ      5.171058
ABY      3.661442
ACK      5.670968
...           ...
WYS      3.193548
XNA      4.903475
YAK      4.082031
YKM      4.361702
YUM      4.958589

[304 rows x 1 columns]

In [146]:
# Concatenate the DF of the taxi destination and origin

taxi_airport = pd.concat([df_taxi_destination,df_taxi_origin],axis=1)

taxi_airport

       TaxiIn    TaxiOut
ABE  4.481846  15.410959
ABI  3.471360   9.795918
ABQ  5.171058  10.636968
ABY  3.661442   8.893836
ACK  5.670968  19.857143
..        ...        ...
XNA  4.903475  16.191781
YAK  4.082031   8.326733
YKM  4.361702  10.000000
YUM  4.958589  12.561863
PUB       NaN  29.500000

[305 rows x 2 columns]

In [147]:
#fill the NaN values

new_taxi_airport = taxi_airport.fillna(0)

new_taxi_airport

       TaxiIn    TaxiOut
ABE  4.481846  15.410959
ABI  3.471360   9.795918
ABQ  5.171058  10.636968
ABY  3.661442   8.893836
ACK  5.670968  19.857143
..        ...        ...
XNA  4.903475  16.191781
YAK  4.082031   8.326733
YKM  4.361702  10.000000
YUM  4.958589  12.561863
PUB  0.000000  29.500000

[305 rows x 2 columns]

In [148]:
"""
In this line, the taxi origin and destination columns are summed and added in a new column,
both functions works I used the second because is the most vectorized


"""

#new_taxi_airport["TaxiAirport"] = new_taxi_airport.apply(lambda x: x["TaxiIn"] + x["TaxiOut"], axis=1)


new_taxi_airport["TaxiAirport"] = new_taxi_airport["TaxiIn"] + new_taxi_airport["TaxiOut"]
new_taxi_airport

       TaxiIn    TaxiOut  TaxiAirport
ABE  4.481846  15.410959    19.892805
ABI  3.471360   9.795918    13.267279
ABQ  5.171058  10.636968    15.808026
ABY  3.661442   8.893836    12.555278
ACK  5.670968  19.857143    25.528111
..        ...        ...          ...
XNA  4.903475  16.191781    21.095256
YAK  4.082031   8.326733    12.408764
YKM  4.361702  10.000000    14.361702
YUM  4.958589  12.561863    17.520452
PUB  0.000000  29.500000    29.500000

[305 rows x 3 columns]

In [149]:
#Function that sort the total Taxi by airport this can be seen as data for airport effiency

col = "TaxiAirport"
sort_taxi_airport = sort_values(new_taxi_airport,col)
sort_taxi_airport

        TaxiIn    TaxiOut  TaxiAirport
JFK  11.536135  40.523080    52.059214
EWR  10.413795  31.748399    42.162194
LGA   8.486195  31.367356    39.853551
PHL   7.206982  26.621883    33.828864
DTW  10.460132  23.133575    33.593706
..         ...        ...          ...
BRW   3.978799   5.314706     9.293504
OME   3.190164   5.838608     9.028772
TUP   2.000000   5.000000     7.000000
CYS   0.000000   0.000000     0.000000
OGD   0.000000   0.000000     0.000000

[305 rows x 3 columns]

<h4>Table with delayed flights</h4>

In [150]:
#In this cell the total flights by the carrier is showed

carrier_flights = df_delay_new.groupby(["UniqueCarrier"])["Origin"].apply(lambda x: x.count())
carrier_flights.rename("Flights")
df_carrier_flights = pd.DataFrame(carrier_flights)
df_carrier_flight = df_carrier_flights.rename(columns={df_carrier_flights.columns[0]: "Flights"})
df_carrier_flight

               Flights
UniqueCarrier
9E               51885
AA              191865
AQ                 750
AS               39293
B6               55315
CO              100195
DL              114238
EV               81877
F9               28269
FL               71284
HA                7490
MQ              141920
NW               79108
OH               52657
OO              132433
UA              141426
US               98425
WN              377602
XE              103663
YV               67063

In [151]:
#In this cell the total ontime flight by the carrier is showed

status_ontime_flights = df_delay_new.groupby("UniqueCarrier")["Status"].apply(lambda x: x[x.str.contains("OnTime")].count())
status_ontime_flights.rename("OnTime")
df_status_ontime_flights = pd.DataFrame(status_ontime_flights)
df_status_ontime_flight = df_status_ontime_flights.rename(columns={df_status_ontime_flights.columns[0]: "OnTime"})
df_status_ontime_flight

               OnTime
UniqueCarrier
9E              32490
AA             116910
AQ                519
AS              25087
B6              33470
CO              66332
DL              65887
EV              51261
F9              16775
FL              41578
HA               3893
MQ              85795
NW              41512
OH              29328
OO              79741
UA              93970
US              65006
WN             291057
XE              63573
YV              40246

In [152]:
#In this cell the total delayed  flights by the carrier is showed

status_delayed_flights = df_delay_new.groupby("UniqueCarrier")["Status"].apply(lambda x: x[x.str.contains("Delayed")].count())
status_delayed_flights.rename("Delayed")
df_status_delayed_flights = pd.DataFrame(status_delayed_flights)
df_status_delayed_flight=df_status_delayed_flights.rename(columns={df_status_delayed_flights.columns[0]: "Delayed"})
df_status_delayed_flight

               Delayed
UniqueCarrier
9E               19395
AA               74955
AQ                 231
AS               14206
B6               21845
CO               33863
DL               48351
EV               30616
F9               11494
FL               29706
HA                3597
MQ               56125
NW               37596
OH               23329
OO               52692
UA               47456
US               33419
WN               86545
XE               40090
YV               26817

In [153]:
#The previus columns are concatenate in a single DF

status_flights_ratios = pd.concat([df_carrier_flight,df_status_ontime_flight,df_status_delayed_flight],axis=1)
status_flights_ratios.index.names = ["Carrier"]
status_flights_ratios

         Flights  OnTime  Delayed
Carrier
9E         51885   32490    19395
AA        191865  116910    74955
AQ           750     519      231
AS         39293   25087    14206
B6         55315   33470    21845
CO        100195   66332    33863
DL        114238   65887    48351
EV         81877   51261    30616
F9         28269   16775    11494
FL         71284   41578    29706
HA          7490    3893     3597
MQ        141920   85795    56125
NW         79108   41512    37596
OH         52657   29328    23329
OO        132433   79741    52692
UA        141426   93970    47456
US         98425   65006    33419
WN        377602  291057    86545
XE        103663   63573    40090
YV         67063   40246    26817

In [154]:
#The RatioStatus column is added as the ratio oh OnTime/Delayed flights

status_flights_ratios["RatioStatus"] = status_flights_ratios.apply(lambda x: x.OnTime/x.Delayed,axis=1)
status_flights_ratios

         Flights  OnTime  Delayed  RatioStatus
Carrier
9E         51885   32490    19395     1.675174
AA        191865  116910    74955     1.559736
AQ           750     519      231     2.246753
AS         39293   25087    14206     1.765944
B6         55315   33470    21845     1.532158
CO        100195   66332    33863     1.958834
DL        114238   65887    48351     1.362681
EV         81877   51261    30616     1.674321
F9         28269   16775    11494     1.459457
FL         71284   41578    29706     1.399650
HA          7490    3893     3597     1.082291
MQ        141920   85795    56125     1.528641
NW         79108   41512    37596     1.104160
OH         52657   29328    23329     1.257148
OO        132433   79741    52692     1.513342
UA        141426   93970    47456     1.980150
US         98425   65006    33419     1.945181
WN        377602  291057    86545     3.363071
XE        103663   63573    40090     1.585757
YV         67063   40246    26817     1.500764

In [155]:
#The RatioStatus is sorted this show the carrier with the most delayed flights

col = "RatioStatus"
sort_ratio_status = sort_values(status_flights_ratios,col)
sort_ratio_status

         Flights  OnTime  Delayed  RatioStatus
Carrier
WN        377602  291057    86545     3.363071
AQ           750     519      231     2.246753
UA        141426   93970    47456     1.980150
CO        100195   66332    33863     1.958834
US         98425   65006    33419     1.945181
AS         39293   25087    14206     1.765944
9E         51885   32490    19395     1.675174
EV         81877   51261    30616     1.674321
XE        103663   63573    40090     1.585757
AA        191865  116910    74955     1.559736
B6         55315   33470    21845     1.532158
MQ        141920   85795    56125     1.528641
OO        132433   79741    52692     1.513342
YV         67063   40246    26817     1.500764
F9         28269   16775    11494     1.459457
FL         71284   41578    29706     1.399650
DL        114238   65887    48351     1.362681
OH         52657   29328    23329     1.257148
NW         79108   41512    37596     1.104160
HA          7490    3893     3597     1.082291

<h4>Longest flight</h4>

In [156]:
"""The elapsed time column is the time of all the flight phases. CRSElapsepTime and ActualElapsedTime
have missing data so I prefered the Actual Elapsed Time"""

travel_time = df_delay_new[["UniqueCarrier","Origin","Dest","ActualElapsedTime"]]
travel_time

        UniqueCarrier Origin Dest  ActualElapsedTime
0                  WN    IAD  TPA              128.0
1                  WN    IAD  TPA              128.0
2                  WN    IND  BWI               96.0
4                  WN    IND  BWI               90.0
5                  WN    IND  JAX              101.0
...               ...    ...  ...                ...
7009710            DL    MSP  ATL              147.0
7009717            DL    RIC  ATL              127.0
7009718            DL    ATL  IAH              162.0
7009726            DL    IAD  ATL              115.0
7009727            DL    SAT  ATL              123.0

[1936758 rows x 4 columns]

In [157]:
#Sort the Elapsed time to view the longest actual flight

col = "ActualElapsedTime"

sorted_flight_time = sort_values(travel_time,col)
sorted_flight_time

        UniqueCarrier Origin Dest  ActualElapsedTime
5180146            HA    SEA  HNL             1114.0
6980183            CO    EWR  HNL              790.0
3922427            DL    JFK  SFO              776.0
4811552            CO    EWR  HNL              750.0
4614554            HA    HNL  SEA              750.0
...               ...    ...  ...                ...
5702990            EV    ATL  ORF                0.0
4547350            DL    RSW  ATL                0.0
6299575            MQ    ORD  SYR                0.0
5702737            EV    MYR  ATL                0.0
2852986            9E    HLN  MSP                0.0

[1936758 rows x 4 columns]

<h4>Most Delayed Flight</h4>

In [158]:
#To know the most delayed fligh I will compare the programmed and actual time of the flights 

delayed_time = df_delay_new[["UniqueCarrier","Origin","Dest","ActualElapsedTime","CRSElapsedTime"]]
df_delayed_time = pd.DataFrame(delayed_time)
df_delayed_time

        UniqueCarrier Origin Dest  ActualElapsedTime  CRSElapsedTime
0                  WN    IAD  TPA              128.0           150.0
1                  WN    IAD  TPA              128.0           145.0
2                  WN    IND  BWI               96.0            90.0
4                  WN    IND  BWI               90.0            90.0
5                  WN    IND  JAX              101.0           115.0
...               ...    ...  ...                ...             ...
7009710            DL    MSP  ATL              147.0           152.0
7009717            DL    RIC  ATL              127.0           109.0
7009718            DL    ATL  IAH              162.0           143.0
7009726            DL    IAD  ATL              115.0           117.0
7009727            DL    SAT  ATL              123.0           135.0

[1936758 rows x 5 columns]

In [159]:
#I will make a substraction and add a new column RatioDelayed

df_delayed_time["RatioDelayed"] = (df_delayed_time["CRSElapsedTime"] - df_delayed_time["ActualElapsedTime"]* (-1)) 
df_delayed_time

,UniqueCarrier,Origin,Dest,ActualElapsedTime,CRSElapsedTime,RatioDelayed
0,WN,IAD,TPA,128.0,150.0,278.0
1,WN,IAD,TPA,128.0,145.0,273.0
2,WN,IND,BWI,96.0,90.0,186.0
4,WN,IND,BWI,90.0,90.0,180.0
5,WN,IND,JAX,101.0,115.0,216.0
...,...,...,...,...,...,...
7009710,DL,MSP,ATL,147.0,152.0,299.0
7009717,DL,RIC,ATL,127.0,109.0,236.0
7009718,DL,ATL,IAH,162.0,143.0,305.0
7009726,DL,IAD,ATL,115.0,117.0,232.0
7009727,DL,SAT,ATL,123.0,135.0,258.0

In [160]:
#sort the values of the new column

col = "RatioDelayed"

sorted_delayed_time = sort_values(df_delayed_time,col)
sorted_delayed_time

,UniqueCarrier,Origin,Dest,ActualElapsedTime,CRSElapsedTime,RatioDelayed
5180146,HA,SEA,HNL,1114.0,355.0,1469.0
6980183,CO,EWR,HNL,790.0,660.0,1450.0
4811552,CO,EWR,HNL,750.0,635.0,1385.0
1742567,CO,EWR,HNL,711.0,660.0,1371.0
6979520,CO,EWR,HNL,702.0,660.0,1362.0
...,...,...,...,...,...,...
768964,OO,ORD,IND,0.0,-9.0,-9.0
3171278,OO,CWA,MKE,0.0,-10.0,-10.0
1992500,OO,CWA,MKE,0.0,-12.0,-12.0
3171282,OO,GRB,MKE,0.0,-18.0,-18.0
1992427,OO,MKG,MKE,0.0,-25.0,-25.0

In [161]:
#This series will be added to the original DF

col = "RatioDelayed"
ratio_delayed = create_series(df_delayed_time,col)
ratio_delayed

0          278.0
1          273.0
2          186.0
4          180.0
5          216.0
           ...
7009710    299.0
7009717    236.0
7009718    305.0
7009726    232.0
7009727    258.0
Name: RatioDelayed, Length: 1936758, dtype: float64

<h3>Export to Excel</h3>

In [162]:
sort_taxi_airport

        TaxiIn    TaxiOut  TaxiAirport
JFK  11.536135  40.523080    52.059214
EWR  10.413795  31.748399    42.162194
LGA   8.486195  31.367356    39.853551
PHL   7.206982  26.621883    33.828864
DTW  10.460132  23.133575    33.593706
..         ...        ...          ...
BRW   3.978799   5.314706     9.293504
OME   3.190164   5.838608     9.028772
TUP   2.000000   5.000000     7.000000
CYS   0.000000   0.000000     0.000000
OGD   0.000000   0.000000     0.000000

[305 rows x 3 columns]

In [163]:
sort_ratio_status

         Flights  OnTime  Delayed  RatioStatus
Carrier
WN        377602  291057    86545     3.363071
AQ           750     519      231     2.246753
UA        141426   93970    47456     1.980150
CO        100195   66332    33863     1.958834
US         98425   65006    33419     1.945181
AS         39293   25087    14206     1.765944
9E         51885   32490    19395     1.675174
EV         81877   51261    30616     1.674321
XE        103663   63573    40090     1.585757
AA        191865  116910    74955     1.559736
B6         55315   33470    21845     1.532158
MQ        141920   85795    56125     1.528641
OO        132433   79741    52692     1.513342
YV         67063   40246    26817     1.500764
F9         28269   16775    11494     1.459457
FL         71284   41578    29706     1.399650
DL        114238   65887    48351     1.362681
OH         52657   29328    23329     1.257148
NW         79108   41512    37596     1.104160
HA          7490    3893     3597     1.082291

In [164]:
sorted_flight_time

        UniqueCarrier Origin Dest  ActualElapsedTime
5180146            HA    SEA  HNL             1114.0
6980183            CO    EWR  HNL              790.0
3922427            DL    JFK  SFO              776.0
4811552            CO    EWR  HNL              750.0
4614554            HA    HNL  SEA              750.0
...               ...    ...  ...                ...
5702990            EV    ATL  ORF                0.0
4547350            DL    RSW  ATL                0.0
6299575            MQ    ORD  SYR                0.0
5702737            EV    MYR  ATL                0.0
2852986            9E    HLN  MSP                0.0

[1936758 rows x 4 columns]

In [167]:
"""The original DF will be concatenate will the series. 
The Data is sliced because the data is bigger than the excel file can store
and all the sliced data is concat. 
"""

sliced_data = df_copy[:50000]
sliced_speed = col_speed[:50000]
sliced_status = status[:50000]
sliced_ratio_delayed = ratio_delayed[:50000]
sliced_sorted_flight_time = sorted_flight_time[:50000]

df_updated_flights_data = pd.concat([sliced_data,sliced_speed,sliced_status,sliced_ratio_delayed],axis=1)
df_updated_flights_data

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Speed,Status,RatioDelayed
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,N,0,NaN,NaN,NaN,NaN,NaN,418.965517,OnTime,278.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,N,0,NaN,NaN,NaN,NaN,NaN,430.088496,OnTime,273.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,N,0,NaN,NaN,NaN,NaN,NaN,406.578947,Delayed,186.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,N,0,2.0,0.0,0.0,0.0,32.0,401.298701,OnTime,180.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,N,0,NaN,NaN,NaN,NaN,NaN,474.482759,OnTime,216.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162955,2008,1,21,1,2210.0,1910,53.0,2130,OH,5492,...,N,0,0.0,0.0,203.0,0.0,0.0,331.343284,Delayed,423.0
162957,2008,1,21,1,1608.0,1507,1824.0,1725,OH,5498,...,N,0,59.0,0.0,0.0,0.0,0.0,457.500000,OnTime,274.0
162958,2008,1,21,1,710.0,640,910.0,819,OH,5499,...,N,0,30.0,0.0,21.0,0.0,0.0,364.225352,Delayed,219.0
162961,2008,1,21,1,1245.0,910,1420.0,1036,OH,5505,...,N,0,215.0,0.0,9.0,0.0,0.0,215.769231,Delayed,181.0
162965,2008,1,21,1,1450.0,1230,1553.0,1348,OH,5509,...,N,0,125.0,0.0,0.0,0.0,0.0,256.744186,OnTime,141.0

In [166]:
#the excel is created with the data each DF have is individual page

with pd.ExcelWriter("updated_delayed_flights.xlsx") as writer:
    null_data.to_excel(writer, sheet_name="null_data_original_df")
    df_updated_flights_data.to_excel(writer, sheet_name="updated_flights_data")
    sort_taxi_airport.to_excel(writer, sheet_name="sorted_taxi_airport")
    sort_ratio_status.to_excel(writer, sheet_name="sort_ratio_status")
    sliced_sorted_flight_time.to_excel(writer, sheet_name="sorted_flight_time")